/* AboutUs.css */

.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out forwards;
    background-image: url("https://media.baobinhphuoc.com.vn/Content/UploadFiles/EditorFiles/images/2018/Quy4/2103102018100607.jpg");
}

.about-us-container:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-us-container h1 {
    font-size: 36px;
    color: #fff9f9;
    margin-bottom: 20px;
}

.about-us-container p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.5;
}

.contact-info {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin: 0 8px;
}

.contact-info a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.about-us-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}